astroid==3.3.8
boto3==1.36.22
botocore==1.36.22
certifi==2025.1.31
charset-normalizer==3.4.1
dill==0.3.9
idna==3.10
iniconfig==2.0.0
isort==6.0.0
jmespath==1.0.1
mccabe==0.7.0
packaging==24.2
platformdirs==4.3.6
pluggy==1.5.0
pylint==3.3.4
pytest==8.3.4
python-dateutil==2.9.0.post0
requests==2.32.3
s3transfer==0.11.2
six==1.17.0
tomlkit==0.13.2
urllib3==2.3.0
